@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body>div {
    display: flex;
    height: calc(100vh - 100px);
}

#search {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 330px;
    height: 100%;
    background-color: #303446;
}

#searchButton{
    border: #000000 1px solid;
    position: absolute;
    top: 0px;
    margin-left: 260px;
    text-align: center;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
}

#searchInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    background-color: #000000;
    border-radius: 20px;
    overflow: visiblechart;
}

#searchInput {
    background-color: #00000000;
    border: none;
    outline: none;
    color: #FFFFFF;
}

#resultContainer {
    width: 100%;
    height: 0;
    overflow: visible;
    z-index: 999;
}

#resultList li {
    border: #000000 1px solid;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    z-index: 999;
}

#resultList li:hover {
    background-color: #b6b6b6;
}


main {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E2E;
    width: calc(100% - 330px);
    height: 100%;
}

#tag {
    margin-top: 100px;
    width: 80%;
}

#tag>h1 {
    color: #FFFFFF;
    font-size: 20pt;
}

#chart {
    width: 80%;
    margin-top: 120px;
}

#chart2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 120px;
}

#chart2>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#chart2 h1 {
    color: #FFFFFF;
    font-size: 18pt;
    font-weight: bold;
    width: 50%;
    margin-left: 80px;
}

#chart2 h2 {
    color: #FFFFFF;
    font-size: 16pt;
    font-weight: normal;
    width: 80%;
}

#chart>h1 {
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 20pt;
}

.chart_items2 {
    width: 100%;
    margin-bottom: 40px;
}

.chart_items2 img {
    width: 66px;
    height: auto;
    border-radius: 8px;
}

#chart>div {
    height: 100%;
}

#char_childs_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.chart_items {
    display: flex;
    gap: 15px;
    width: 40%;
    margin-top: 20px;
    max-width: 500px;
    min-width: 350px;
}

.chart_items img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.chart_items>div {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #FFFFFF;
}

.chart_items>div>h1 {
    font-size: 15pt;
    font-weight: normal;
}

.chart_items>div>h2 {
    font-size: 13pt;
    font-weight: normal;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #414559;
}

footer>div {
    display: flex;
    align-items: center;
}

#footer_div1 {
    width: 70%;
    max-width: 500px;
    flex-direction: column;
}

#footer_div2 {
    width: 15%;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    user-select: none;

}

footer #music_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer #music_info_image_contain {
    border: 1px solid #000000;
    height: 66px;
    width: 66px;
    overflow: hidden;
}

footer #music_info_image_contain>img {
    width: 100%;
}

#footer_div1>div {
    width: 100%;
}

footer #music_info #music_info_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#music_info_texts h1 {
    font-size: 20px;
    color: #FFFFFF;
}

#music_info_texts h2 {
    font-size: 15px;
    font-weight: normal;
    color: #FFFFFF;
}

#audioPlayer {
    width: 300px;
    margin: 20px;
}

#progressBar,
#volumeBar {
    width: 100%;
    height: 5px;
    background-color: #ccc;
    position: relative;
    margin-top: 10px;
}

#currentProgress,
#currentVolume {
    height: 100%;
    position: absolute;
}

#currentProgress {
    background-color: #4caf50;
}

#currentVolume {
    background-color: #2196F3;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

#buttons>svg {
    width: 16px;
}

#volume_control {
    display: flex;
    gap: 10px;
    width: 100%;
}

#time {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

#time div {
    font-size: 11px;
    color: #FFFFFF;
}


#playButton,
#repeatButton,
#prevButton,
#nextButton,
#pauseButton {
    cursor: pointer;
    color: white;
    border: none;
}

#volumeControl {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


#volumeControl.muted {
    background-color: #ff4444;
    /* 소리 꺼짐일 때 색 변경 */
}

#volumeControl.muted:hover {
    background-color: #cc0000;
    /* 소리 꺼짐일 때 hover 시 색 변경 */
}

#currentTime,
#totalTime {
    margin-top: 10px;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    width: 200px;

}

#resultList {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.resultItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    max-width: 200px;
    height: auto;
}

.resultItem:hover {
    background-color: #f5f5f5;
}




@media (max-width: 768px) {
    #footer_div2 {
        display: none;
    }
}
#tag1{
    text-align: center;
    position: absolute;
    top: 180px;
    border: white 1px solid;
    border-radius: 10px;
    width: 80px;
    color: white;
}
#tag2{
    text-align: center;
    position: absolute;
    top: 180px;
    margin-left: 120px;
    border: white 1px solid;
    border-radius: 10px;
    width: 80px;
    color: white;
}
#tag3{
    text-align: center;
    position: absolute;
    top: 180px;
    margin-left: 240px;
    border: white 1px solid;
    border-radius: 10px;
    width: 80px;
    color: white;
}
#tag4{
    text-align: center;
    position: absolute;
    top: 180px;
    margin-left: 360px;
    border: white 1px solid;
    border-radius: 10px;
    width: 80px;
    color: white;
}
#tag5{
    text-align: center;
    position: absolute;
    top: 180px;
    margin-left: 480px;
    border: white 1px solid;
    border-radius: 10px;
    width: 80px;
    color: white;
}
#tag6{
    text-align: center;
    position: absolute;
    top: 180px;
    margin-left: 600px;
    border: white 1px solid;
    border-radius: 10px;
    width: 80px;
    color: white;
}
#tag7{
    text-align: center;
    position: absolute;
    top: 180px;
    margin-left: 720px;
    border: white 1px solid;
    border-radius: 10px;
    width: 80px;
    color: white;
}
.title1 {
    cursor: pointer;
}
.image1 {
    cursor: pointer;
}
footer > button{
    position: absolute;
    top: 60px;
    left: 25px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: black 3px solid;
    border-radius: 8px;
    font-size: 15px;

}
#uploadInput {
    display: none; /* 기본 파일 선택 버튼 숨김 */
}
#customUploadButton {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: black; /* 배경 색상 */
    color: #fff; /* 텍스트 색상 */
    border: black 3px solid; /* 테두리 제거 */
    border-radius: 8px;
    cursor: pointer; /* 커서 포인터로 변경 */
    font-size: 15px;
}