* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#search {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: 340px;
    background-color: #303446;
}

#searchInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    background-color: #000000;
    border-radius: 20px;
    overflow: visible;
}

#searchInput {
    background-color: #00000000;
    border: none;
    outline: none;
    color: #FFFFFF;
}

#resultList li {
    background-color: #FFFFFF;
}

#resultList li:hover {
    background-color: #b6b6b6;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #414559;
}

footer>div {
    display: flex;
    align-items: center;
}

#footer_div1 {
    width: 70%;
    max-width: 500px;
    flex-direction: column;
}

#footer_div2 {
    width: 15%;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    user-select: none;

}

footer #music_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer #music_info_image_contain {
    border: 1px solid #000000;
    height: 66px;
    width: 66px;
    overflow: hidden;
}

footer #music_info_image_contain>img {
    width: 100%;
}

#footer_div1>div {
    width: 100%;
}

footer #music_info #music_info_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#music_info_texts h1 {
    font-size: 20px;
    color: #FFFFFF;
}

#music_info_texts h2 {
    font-size: 15px;
    font-weight: normal;
    color: #FFFFFF;
}

#audioPlayer {
    width: 300px;
    margin: 20px;
}

#progressBar,
#volumeBar {
    width: 100%;
    height: 5px;
    background-color: #ccc;
    position: relative;
    margin-top: 10px;
}

#currentProgress,
#currentVolume {
    height: 100%;
    position: absolute;
}

#currentProgress {
    background-color: #4caf50;
}

#currentVolume {
    background-color: #2196F3;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

#buttons>svg {
    width: 16px;
}

#volume_control {
    display: flex;
    gap: 10px;
    width: 100%;
}

#time {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

#time div {
    font-size: 11px;
    color: #FFFFFF;
}


#playButton,
#repeatButton,
#prevButton,
#nextButton,
#pauseButton {
    cursor: pointer;
    color: white;
    border: none;
}

#volumeControl {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


#volumeControl.muted {
    background-color: #ff4444;
    /* 소리 꺼짐일 때 색 변경 */
}

#volumeControl.muted:hover {
    background-color: #cc0000;
    /* 소리 꺼짐일 때 hover 시 색 변경 */
}

#currentTime,
#totalTime {
    margin-top: 10px;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    
}

#resultList {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.resultItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    max-width: 200px;
    height: auto;
}

.resultItem:hover {
    background-color: #f5f5f5;
}
.title1{
    position: absolute;
    left: 800px;
    max-width: 100px; /* 이미지의 최대 너비를 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.image1 {
    position: absolute;
    left: 600px;
    max-width: 66px; /* 이미지의 최대 너비를 조절 */
    max-height: 66px;
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.description1 {
    position: absolute;
    left: 1200px;
    max-width: 500px; /* 이미지의 최대 너비를 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.title2 {
    position: absolute;
    left: 800px;
    top: 150px;
    max-width: 100px; /* 이미지의 최대 너비를 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.image2 {
    position: absolute;
    left: 600px;
    top: 150px;
    max-width: 66px; /* 이미지의 최대 너비를 조절 */
    max-height: 66px;
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.description2 {
    position: absolute;
    left: 1200px;
    top: 150px;
    max-width: 500px; /* 이미지의 최대 너비를 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.title3 {
    position: absolute;
    left: 800px;
    top: 250px;
    max-width: 100px; /* 이미지의 최대 너비를 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.image3 {
    position: absolute;
    left: 600px;
    top: 250px;
    max-width: 66px; /* 이미지의 최대 너비를 조절 */
    max-height: 66px;
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.description3 { 
    position: absolute;
    left: 1200px;
    top: 250px;
    max-width: 500px; /* 이미지의 최대 너비를 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.title4 {
    position: absolute;
    left: 800px;
    top: 350px;
    max-width: 100px; /* 이미지의 최대 너비를 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.image4 {
    position: absolute;
    left: 600px;
    top: 350px;
    max-width: 66px; /* 이미지의 최대 너비를 조절 */
    max-height: 66px;
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}
.description4 {
    position: absolute;
    left: 1200px;
    top: 350px;
    max-width: 500px; /* 이미지의 최대 너비를 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
}


@media (max-width: 768px) {
    #footer_div2 {
        display: none;
    }
}